@import "tailwindcss";

@font-face {
  font-family: "newFont";
  src: url("./assets/fonts/aeoniktrial-regular.otf") format("woff2");
}
@font-face {
  font-family: "newFont";
  src: url("./assets/fonts/aeoniktrial-regular.otf") format("woff2");
}
body {
  font-family: "newFont", sans-serif;
}

.btn-learn-more {
  /* background-color: ; */
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
.btn-learn-more:hover .img-box {
  transform: translateX(0.4rem);
}
.btn-learn-more .img-box {
  width: 1.6rem;
  height: 2rem;
  transition: transform .3s ease-in-out;
}
.btn-learn-more .img-box .svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=index.css.map */

.main-wrap-text{
  width: 100%;
  height: 35rem;
  background-color: red;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover{
    .green-box{
      transform: translateY(5%);
    }

    .blue-box{
      transform: translateY(-95%);
    }
  }

  &>*{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
    padding: 1rem;
    color: #ffffff;
  }

  .blue-box{
    background-color: blue;
    z-index: 10;
  }

  .green-box{
    background-color: green;
    z-index: 11;
    transform: translateY(100%);
  }
}